PORT=5001

CLAUDE_API_KEY=your-anthropic-api-key

FAST_MODEL=claude-haiku-4-5-20251001
SMART_MODEL=claude-haiku-4-5-20251001

FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nxxxxx\n-----END PRIVATE KEY-----\n"
